body {
  background-color: #292b2e;
  color: #ffffff;
  min-height: 100vh;
}

.app-title {
  color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  background: #3a3b3f;
  color: #fff;
}

.option-btn {
  text-align: left;
}
